# Dependencies
node_modules/
package-lock.json
dist/
build/

# Environment Variables (Security Risk)
.env

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/

# Logs
npm-debug.log*
yarn-debug.log*

# IDE & OS
.vscode/
.idea/
.DS_Store
